version: "3.8"

services:
  pihole:
    image: pihole/pihole:latest
    container_name: pihole
    hostname: pihole
    environment:
      TZ: "America/New_York"
      WEBPASSWORD: "ChangeMe-After-Deploy"
    volumes:
      - /opt/homelab/stacks/pihole/etc-pihole:/etc/pihole
      - /opt/homelab/stacks/pihole/etc-dnsmasq.d:/etc/dnsmasq.d
    dns:
      - 1.1.1.1
      - 8.8.8.8
    ports:
      - "53:53/tcp"
      - "53:53/udp"
      - "8083:80/tcp"
    restart: unless-stopped